@charset "UTF-8";

body {
  background-color: #f9f9f9;  /* 背景色 */
  color: #333333;             /* 文字色 */
  font-family: sans-serif;    /* フォント */
}

h1 {
  text-align: center;         /* 中央寄せ */
  color: navy;                /* 文字色 */
}

h2 {
  border-bottom: 3px solid #ffcc00; /* 下線 */
  padding-bottom: 5px;
}

img {
  max-width: 100%;            /* スマホ対策 */
}
